ul {
  list-style: none;
}

/*** PROGRAM ***/

.webflow-card {
  -webkit-text-size-adjust: 100%;
  font-family: nunito-sans, sans-serif;
  color: #333;
  font-size: 1%;
  line-height: 100%;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  width: 20%;
  margin: 20px 5px;
  padding: 60px 30px;
  background-color: #e8f0f4;
  text-align: left;
}

.webflow-session {
  -webkit-text-size-adjust: 100%;
  --swatch_34c912c5: hsla(0, 0%, 0%, 1);
  --swatch_3395d493: hsla(0, 0%, 20%, 1);
  --swatch_e8f66ba6: #005c8b;
  --swatch_2ea5169b: #41bcc9;
  user-select: none;
  font-family: nunito-sans;
  color: rgb(51, 51, 51);
  font-size: 14px;
  line-height: 1.6;
  box-sizing: border-box;
  margin-top: 30px;
  padding: 30px;
  background-color: rgba(0, 90, 139, 0.03);
  cursor: default;
  -webkit-user-drag: none;
}

.webflow-session ul {
  width: 70%;
}

.agenda {
  padding: 3rem 0rem;
}

.daily-agenda-container {
  overflow: scroll;
}

.program-title .program-subtitle {
  font-family: josefin-sans, sans-serif;
  text-transform: initial;
  font-size: 3rem;
  line-height: 26px;
  margin-left: 22px;
}

.program-title {
  font-family: josefin-sans, sans-serif;
  font-size: 3rem;
}

.program-timeline {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  margin-top: -13px;
  margin-bottom: 1rem;
}

.program-timeline:first-child {
  margin-top: 0;
}

.program-timeline:last-child .program-timebar {
  display: none;
}

.program-timeline ul {
  margin-left: 20px;
  color: black;
  list-style: none;
  padding: 0;
  margin: 0;
}

.program-timeline ul li {
  font-family: var(--font-primary);
  font-size: 16px;
  list-style: initial;
}

.program-timeline:hover li span.program-timepoint {
  border: 0px solid #333132;
  transition: all ease 500ms;
  -webkit-transition: all ease 500ms;
  transform: scale(125%);
}

.program-schedule {
  display: flex;
  justify-content: flex-end;
  /* flex-direction: column; */
  flex-wrap: wrap;
  text-align: right;
  width: 175px;
  color: #585858;
  border-left: solid 1px black;
}

.program-schedule span {
  font-family: var(--font-primary);
  font-size: 40px;
  line-height: 33px;
  color: black;
  display: inline-block;
  white-space: nowrap;
  font-weight: 600;
}

.town-hall-program {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.town-hall-program .program-schedule span {
  letter-spacing: -1px;
}

.town-hall-program .program-schedule span span {
  margin-left: -5px;
  letter-spacing: 0;
  font-size: 15px;
  font-weight: initial;
}

.town-hall-program .program-progress {
  padding: 10px 23px 0;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  transition: all ease 800ms;
  -webkit-transition: all ease 800ms;
}

.town-hall-program .program-info-wrap {
  padding-top: 5px;
  width: 100%;
  margin-left: 3rem;
}

.program-info-wrap {
  display: flex;
  flex-direction: column;
}

.program-timepoint {
  clip-path: circle();
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: var(--color-secondary);
  position: relative;
  z-index: 2;
  transition: ease-in-out 500ms;
}

.pulsate {
  animation-name: pulsate;
  animation-duration: 500ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes pulsate {
  from {
    background-color: #005a8b;
    transform: scale(100%);
  }

  to {
    background-color: #39bac9;
    transform: scale(150%);
  }
}

/* .program-timebar {
    height: 300px;
    background-color: var(--color-primary);
    width: 1px;
    display: block;
    position: absolute;
    margin-left: 4px;
    z-index: 1;
} */

.program-info-title {
  font-size: 18px;
  font-weight: lighter;
  font-family: josefin-sans, sans-serif;
  color: black;
  transition: all ease 500ms;
  -webkit-transition: all ease 500ms;
  margin-bottom: 0.5rem;
}

.program-subtitle {
  font-size: 14px;
  font-weight: normal;
  color: var(--color-secondary);
}

.program-info-subtitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.25rem;
  gap: 0.75rem;
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 200;
  color: black;
}

.program-speaker-avatar {
  height: 48px;
  width: 48px;
  clip-path: circle();
}

.session-speaker {
  display: none;
  justify-content: center;
  gap: 2rem;
}

.session-speaker-info {
  font-size: 1.95em;
}

.speaker-box {
  font-size: 0.75em;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

.chair-speaker-avatar {
  height: 120px;
  width: 120px;
  clip-path: circle();
}

.program-header {
  flex-direction: column;
  width: 100%;
  display: flex;
  gap: 5rem;
}

@media screen and (max-width: 1154px) {
  .session-speaker {
    display: none;
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  .webflow-card {
    min-width: -webkit-fill-available;
    margin: auto;
  }
}

@media screen and (max-width: 490px) {
  .session-speaker {
    display: none;
    /* display: flex; */
    flex-direction: column;
  }

  .webflow-card {
    min-width: -webkit-fill-available;
    margin: auto;
  }

  .speaker-name {
    font-size: medium;
  }

  .chair-speaker-avatar {
    width: 64px;
    height: 64px;
  }

  .program-title {
    font-size: 1.25em;
  }

  .program-timeline {
    flex-flow: column wrap;
    align-items: flex-start;
  }

  .program-timepoint {
    display: none;
  }

  .program-info-topic {
    width: 100%;
  }

  .program-timeline-wrap {
    width: 100%;
  }

  .program-schedule {
    width: auto;
  }

  .speaker-box {
    font-size: 1%;
  }
}

.program-date {
  /* order: 3; */
  font-family: nunito-sans, sans-serif;
  text-align: left;
  font-size: 2em;
}

.inactive {
  opacity: 0.25;
}

.upcoming {
  opacity: 0.75;
}

.enlarged {
  font-size: 25px;
  font-weight: bolder;
}

.enlarged-img {
  width: 64px;
  height: 64px;
}

.program-info-dropdown {
  position: absolute;
  width: 60%;
  word-wrap: normal;
}

.program-info-wrapper {
  display: block;
}

.program-info-topic {
  text-align: justify;
  font-weight: normal;
  padding-top: 6px;
  width: 690px;
}

.program-multi-speaker {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.enlarged-txt {
  font-size: 24px;
}

.speaker-title {
  padding: 4px 1px;
  font-size: 16px;
  font-weight: 600;
  color: #005a8b;
}

.speaker-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.time-span {
  padding: 0.5rem 0rem;
  color: grey;
  font-size: smaller;
}

.status-chip {
  list-style: none;
  font-weight: bolder;
  font-size: 0.75rem;
  font-family: var(--font-primary);
  color: white;
  padding: 0.25em 0.5rem;
  border-radius: 8pt;
}
