.contentContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  margin-top: 0rem;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteIcon:hover {
  transform: rotate(0.5turn);
  transition: all 1s ease-in-out;
}
